Download a few subjects (n=3) from the dataset DS000228 on openneuro. Hint: the dataset is available with datalad from this git repository.
### datalad install https://github.com/OpenNeuroDatasets/ds000228.git

In [1]:
import bids
from bids import BIDSLayout

In [2]:
layout = BIDSLayout('/mnt/d/brainhack/ds000228')
bold = layout.get(subject='pixar002', suffix='bold', extension='nii.gz')
bold

In [3]:
md = bold[0].get_metadata()
md['RepetitionTime']

2

In [4]:
bold[0].get_entities()

{'datatype': 'func',
 'extension': '.nii.gz',
 'subject': 'pixar002',
 'suffix': 'bold',
 'task': 'pixar'}

In [6]:
layout.get(subject='pixar002')

[<BIDSJSONFile filename='/mnt/d/brainhack/ds000228/sub-pixar002/anat/sub-pixar002_T1w.json'>,
 <BIDSImageFile filename='/mnt/d/brainhack/ds000228/sub-pixar002/anat/sub-pixar002_T1w.nii.gz'>,
 <BIDSJSONFile filename='/mnt/d/brainhack/ds000228/sub-pixar002/func/sub-pixar002_task-pixar_bold.json'>,
 <BIDSImageFile filename='/mnt/d/brainhack/ds000228/sub-pixar002/func/sub-pixar002_task-pixar_bold.nii.gz'>]

In [13]:
layout.get_subjects()

['pixar001',
 'pixar002',
 'pixar003',
 'pixar004',
 'pixar005',
 'pixar006',
 'pixar007',
 'pixar008',
 'pixar009',
 'pixar010',
 'pixar011',
 'pixar012',
 'pixar013',
 'pixar014',
 'pixar015',
 'pixar016',
 'pixar017',
 'pixar018',
 'pixar019',
 'pixar020',
 'pixar021',
 'pixar022',
 'pixar023',
 'pixar024',
 'pixar025',
 'pixar026',
 'pixar027',
 'pixar028',
 'pixar029',
 'pixar030',
 'pixar031',
 'pixar032',
 'pixar033',
 'pixar034',
 'pixar035',
 'pixar036',
 'pixar037',
 'pixar038',
 'pixar039',
 'pixar040',
 'pixar041',
 'pixar042',
 'pixar043',
 'pixar044',
 'pixar045',
 'pixar046',
 'pixar047',
 'pixar048',
 'pixar049',
 'pixar050',
 'pixar051',
 'pixar052',
 'pixar053',
 'pixar054',
 'pixar055',
 'pixar056',
 'pixar057',
 'pixar058',
 'pixar059',
 'pixar060',
 'pixar061',
 'pixar062',
 'pixar063',
 'pixar064',
 'pixar065',
 'pixar066',
 'pixar067',
 'pixar068',
 'pixar069',
 'pixar070',
 'pixar071',
 'pixar072',
 'pixar073',
 'pixar074',
 'pixar075',
 'pixar076',
 'pixar077',
 'pixar078',
 'pixar079',
 'pixar080',
 'pixar081',
 'pixar082',
 'pixar083',
 'pixar084',
 'pixar085',
 'pixar086',
 'pixar087',
 'pixar088',
 'pixar089',
 'pixar090',
 'pixar091',
 'pixar092',
 'pixar093',
 'pixar094',
 'pixar095',
 'pixar096',
 'pixar097',
 'pixar098',
 'pixar099',
 'pixar100',
 'pixar101',
 'pixar102',
 'pixar103',
 'pixar104',
 'pixar105',
 'pixar106',
 'pixar107',
 'pixar108',
 'pixar109',
 'pixar110',
 'pixar111',
 'pixar112',
 'pixar113',
 'pixar114',
 'pixar115',
 'pixar116',
 'pixar117',
 'pixar118',
 'pixar119',
 'pixar120',
 'pixar121',
 'pixar122',
 'pixar123',
 'pixar124',
 'pixar125',
 'pixar126',
 'pixar127',
 'pixar128',
 'pixar129',
 'pixar130',
 'pixar131',
 'pixar132',
 'pixar133',
 'pixar134',
 'pixar135',
 'pixar136',
 'pixar137',
 'pixar138',
 'pixar139',
 'pixar140',
 'pixar141',
 'pixar142',
 'pixar143',
 'pixar144',
 'pixar145',
 'pixar146',
 'pixar147',
 'pixar148',
 'pixar149',
 'pixar150',
 'pixar151',
 'pixar152',
 'pixar153',
 'pixar154',
 'pixar155']

In [14]:
layout.get_tasks()

['pixar']

In [15]:
layout.get_suffixes(subject=bids.layout.Query.ANY)

['T1w', 'bold']

In [16]:
list(layout.get_entities(metadata=False))

['suffix', 'extension', 'task', 'subject', 'datatype']

In [130]:
bold_file = layout.get(subject='pixar003', suffix='bold',
                        extension=['nii', 'nii.gz'])[0]

IndexError: list index out of range

In [18]:
md = bold_file.get_metadata()

In [20]:
md.keys()

dict_keys(['CogAtlasID', 'EchoTime', 'EffectiveEchoSpacing', 'FlipAngle', 'MagneticFieldStrength', 'Manufacturer', 'ManufacturersModelName', 'PhaseEncodingDirection', 'RepetitionTime', 'SliceTiming', 'TaskName', 'dcmmeta_affine', 'dcmmeta_reorient_transform', 'dcmmeta_shape', 'dcmmeta_slice_dim', 'dcmmeta_version', 'global', 'time'])

In [21]:
md['EchoTime']

0.03

In [63]:
md['Manufacturer']

'Siemens'

In [25]:
 layout.get_FlipAngles()

[7, 90, 89, 84, 88]

In [26]:
layout.get_suffix(FlipAngle=7)

['T1w']

In [27]:
layout.get_suffix(FlipAngle=88)

['bold']

In [31]:
{fa: len(layout.get(FlipAngle=fa))
     for fa in layout.get_FlipAngle(suffix='bold')}

{90: 152, 89: 1, 84: 1, 88: 1}

In [32]:
layout.get_subjects(FlipAngle=88)

['pixar028']

In [52]:
participants

  participant_id gender  age education_degree  education_years
0      sub-MSC01      M   34        Doctorate             22.0
1      sub-MSC02      M   34        Doctorate             28.0
2      sub-MSC03      F   29          Masters             18.0
3      sub-MSC04      F   28        Bachelors             22.0
4      sub-MSC05      M   27        Bachelors             20.0
5      sub-MSC06      F   24        Bachelors             17.5
6      sub-MSC07      F   31          Masters             20.0
7      sub-MSC08      F   27     Professional             21.0
8      sub-MSC09      M   26     Professional             19.0
9      sub-MSC10      M   31     Professional             19.0

In [54]:
collections = layout.get_collections(level='dataset')
collections

In [55]:
collections[0].to_df()

  subject age education_degree education_years gender        suffix
0   MSC01  34        Doctorate            22.0      M  participants
1   MSC02  34        Doctorate            28.0      M  participants
2   MSC03  29          Masters            18.0      F  participants
3   MSC04  28        Bachelors            22.0      F  participants
4   MSC05  27        Bachelors            20.0      M  participants
5   MSC06  24        Bachelors            17.5      F  participants
6   MSC07  31          Masters            20.0      F  participants
7   MSC08  27     Professional            21.0      F  participants
8   MSC09  26     Professional            19.0      M  participants
9   MSC10  31     Professional            19.0      M  participants

In [56]:
layout.get_collections(level='subject', subject='MSC01')[0].to_df()

     session subject             acq_time    suffix
0     func01   MSC01  1894-08-25T01:07:51  sessions
1     func02   MSC01  1894-08-26T00:09:21  sessions
2     func03   MSC01  1894-08-27T00:17:24  sessions
3     func04   MSC01  1894-08-28T00:14:11  sessions
4     func05   MSC01  1894-08-29T00:08:33  sessions
5     func06   MSC01  1894-08-30T00:12:32  sessions
6     func07   MSC01  1894-08-31T00:08:55  sessions
7     func08   MSC01  1894-09-08T00:18:53  sessions
8     func09   MSC01  1894-09-09T00:15:21  sessions
9     func10   MSC01  1894-09-10T00:18:59  sessions
10  struct01   MSC01  1894-05-23T00:33:21  sessions
11  struct02   MSC01  1894-06-29T00:12:09  sessions

In [115]:
#layout = BIDSLayout('/mnt/d/brainhack/ds000224')
layout.get_collections(level='session', subject='MSC01', session='func01')[0].to_df()

,subject,session,run,BodyPartExamined,CogAtlasID,ConversionSoftware,ConversionSoftwareVersion,EchoTime,EffectiveEchoSpacing,FlipAngle,...,SequenceName,SequenceVariant,SeriesDescription,SliceTiming,SoftwareVersion,TaskName,acq_time,suffix,task,datatype
0,MSC01,func01,1.0,HEAD,http://www.cognitiveatlas.org/task/id/trm_4f24...,dcm2niix,v1.0.20170411 GCC4.4.7,0.027,0.00059,90,...,_epfid2d1_64,SK,MixedDesign_192Frames_36Slices_TR2.2,"[1.105, 0, 1.1675, 0.0625, 1.2275, 0.1225, 1.2...",syngo MR B17,glasslexical,1894-08-25T02:44:47,bold,glasslexical,func
1,MSC01,func01,2.0,HEAD,http://www.cognitiveatlas.org/task/id/trm_4f24...,dcm2niix,v1.0.20170411 GCC4.4.7,0.027,0.00059,90,...,_epfid2d1_64,SK,MixedDesign_192Frames_36Slices_TR2.2,"[1.105, 0, 1.1675, 0.0625, 1.2275, 0.1225, 1.2...",syngo MR B17,glasslexical,1894-08-25T02:53:17,bold,glasslexical,func

In [125]:
layout.get_collections(level='subject', subject='MSC01', session='func01',
                           task='motor', run=1)[0].to_df()

  session subject             acq_time    suffix
0  func01   MSC01  1894-08-25T01:07:51  sessions

In [112]:
import json
entities = {"task": "rest", "suffix": "bold", "extension": "json"}
layout.build_path(entities)

'/mnt/d/brainhack/ds000224/task-rest_bold.json'

In [120]:
print(layout)

BIDS Layout: .../mnt/d/brainhack/ds000224 | Subjects: 10 | Sessions: 123 | Runs: 24

# Bids validator pybids

Install pybids. Use pybids to get a list of all BOLD nii.gz files for subject pixar003. In which folder did you find them? is it logical? You may want to have a look at the BIDS documentation to familiarize yourself with the BIDS standard.

In [6]:
from bids_validator import BIDSValidator

In [7]:
BIDSValidator().is_bids('/mnt/d/brainhack/ds000228')

False

In [139]:
#Question 3
bold = layout.get(subject='pixar003', suffix='bold', extension='nii.gz')
bold

Using pybids, get a list of the flip angles in DS000228.

In [140]:
#Question 4
layout.get_FlipAngle(suffix='bold')

[90, 89, 84, 88]

Clone a Midnight Brain Scan dataset from this git repository. Use pybids to load the participant.tsv file as a pandas dataframe in python.

In [141]:
# Question 5 
layout = BIDSLayout('/mnt/d/brainhack/ds000224')
participants = layout.get(suffix='participants', extension='tsv')[0]
participants.get_df()

  participant_id gender  age education_degree  education_years
0      sub-MSC01      M   34        Doctorate             22.0
1      sub-MSC02      M   34        Doctorate             28.0
2      sub-MSC03      F   29          Masters             18.0
3      sub-MSC04      F   28        Bachelors             22.0
4      sub-MSC05      M   27        Bachelors             20.0
5      sub-MSC06      F   24        Bachelors             17.5
6      sub-MSC07      F   31          Masters             20.0
7      sub-MSC08      F   27     Professional             21.0
8      sub-MSC09      M   26     Professional             19.0
9      sub-MSC10      M   31     Professional             19.0

In [109]:
from bids.reports import BIDSReport